
*::-webkit-scrollbar-thumb {
  background: #c6c6c6;
}

#content-inner {
  display: none;
}

#nav a {
  color: var(--font-color);
}

#page-header {
  background: transparent;
}

#page-header #site-title {
  color: var(--font-color);
}

#page-header #site-subtitle {
  color: var(--font-color);
}

#page-header #scroll-down {
  display: none;
}

#go-up {
  display: none;
}

#footer {
  background: transparent;
  color: var(--font-color);
}

#footer-wrap {
  color: var(--font-color);
}
